 * {
  margin: 0;
  padding: 0; 
 }

 body {
   font-family: 'Poppins', sans-serif; 
   max-width: 1750x;
   margin-top: 20px;
}

 .container {
  margin-left:85px;
  margin-top: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 }


main {
    margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  max-height: 100px;
}

 .wrapper {
  display: flex;
  align-items: center;
  margin-top: -20px;
 }

 .logo  {
   max-width: 80%;
   max-height: 80%;
   margin-left: -20px;
 }

 .phone_city {
  display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px; 
    margin-left: 150px;
 }

.phone {
  padding-left: 58px;
  width: max-content;
}

.city {
  width: max-content
}

.nav {
  margin-left: 308px;
}

.nav ul {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  gap: 69px;
  list-style-type: none;
  white-space: nowrap;
}

.menu {
 color: #000;
 text-decoration: none;
}

.menu:hover {
  text-decoration: underline;
}

.nav ul li span {
  margin-left: 62px;
}

.nav ul li span:hover {
  cursor: pointer;
}

.main {
  width: 100%;
  max-width: 1750px;
}

.head {
  display: flex;
  max-width: 1750px;
  margin-top: 33px;
    width: calc(100% - 120px);
}

.head button{
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  padding: 10px 51px;
  background:#4E4AFF;
  border-radius: 50px;
  border: 0;
  align-items: center;
  display: flex;
}

.f {
  background: #ECECF5;
  border: 2px solid #757575;
  box-sizing: border-box;
  border-radius: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  outline: none;
  width: 100%;
}

.category {
  margin-right: 50px;
}

.login {
  margin-left: 47px;
}


.favorites {
  margin-left: 45px;
}

.login span img {
  padding-right: 15px;
}

.favorites span img {
  padding-right: 15px;
}

.head button:hover {
  opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.slide {
   background: #D8D7D7; 
   border-radius: 31px;
   max-width: max-content
   max-height: 1000px;
   margin-top: 77px;
   margin-left: 235px;
}

.slide p {
  font-style: normal;
  font-weight: 600;
  font-size: 74px;
  line-height: 176px;
  transform: rotate(-13.73deg);
  color: #A7A7A7;
  padding: 167px 507px;
  padding-bottom: 200px;
}


.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}


.slider{
  position: relative;
  padding-top: 50px;
  left: 0;
 max-width:   1600px;
 overflow: hidden;
}

.slider .slick-dots {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 600px;
  margin-top: 630px;
}

.slider .slick-dots li {
  list-style-type: none;
}

.slider .slick-dots button {
  font-size: 0;
  width: 250px;
  height: 15px;
  background: #fff;
  border-radius: 10px;
  transition: 1s;
}

.slider .slick-dots li.slick-active button {
    background: #4E4AFF;
    transition: 1s;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  height: 150px;
  width: 80px;
  border: 0;
  z-index: 10;
}

.slider .slick-arrow.slick-prev {
   left: 0;
   background: url('../img/Line 3.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
   right: 0;
   background: url('../img/Line 2.svg') 0 0 / 100% no-repeat;
}

.popular_category {
 max-height: 350px;
  max-width: 1750px;
}

.popularcategory {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  margin-top: 58px;
}

.cards {
  margin-top: 33px;
  display: flex;
  flex-wrap:wrap;
  gap: 25px; 
}

.card {
  box-sizing: border-box;
  border-radius: 30px;
  min-width: 330px;
  min-height: 200px;
}

.card-blue {
  filter: drop-shadow(0px 5px 10px #4E4AFF);
  border: 3px solid #4E4AFF;
}

.card-blue:hover {
  background: #cdccff;
}

.card-red {
  filter: drop-shadow(0px 5px 10px #FF0000);
  border: 3px solid #FF0000;
}

.card-red:hover {
  background: #ffcccc;
}

.card:hover {
 margin-top: -5px;
 transition: 0.3s;
 cursor: pointer;  
}

.line1 {
  box-sizing: border-box;
  max-width: 1750px;
  height: 3px;
  margin-top: 35px;
  background: #4E4AFF;
}

.button-more {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  border-radius: 50px;
  width: 175px;
  height: 80px;
}

.discount {
  margin-top: 310px;
  max-height: 320px;
  max-width: 1750px;
}

._discount {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #FF0000;
}

.cards2 {
  margin-top: 32px;
  display: flex;
    flex-wrap:wrap;
    gap: 25px; 
 }

 .wrapper-for-cards {
  display: flex;
  max-width: 1698px;
 }

.button-more {
  border-radius: 50px;
  width: 175px;
    height: 80px;
    color: #fff;
    border: 0; 
    margin-top: 80px;
    margin-left: 128px;
}

.red_button {
   background-color: #FF4A4A;
   box-shadow: 0px 5px 10px #C63434;
}

.blue_button {
  background: #4E4AFF;
  box-shadow: 0px 5px 10px #918EFF;
}

.button-more:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.bestsellers {
  margin-top: 55px;
  max-height: 350px;
  max-width: 1750px;
}

.best_sellers {
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 59px;
}

.wrapper-for-cards2 {
  display: flex;f
  max-width: 1698px;
}

.cards3 {
  display: flex;
    flex-wrap:wrap;
    gap: 25px; 
    margin-top: 30px;
}

.best_gift {
  margin-top: 60px;
  max-height: 350px;
  max-width: 1750px;
}

.bestgift {
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 59px;
}

.wrapper-for-cards3 {
  display: flex;
  max-width: 1698px;
}

.cards4 {
  display: flex;
  flex-wrap:wrap;
  gap: 25px; 
  margin-top: 30px;
}

.line2 {
  box-sizing: border-box;
  max-width: 1750px;
  height: 3px;
  margin-top: 90px;
  background: #4E4AFF; 
  position: relative;
}

.footer {
  max-width: 1750px;
  max-height: 350px;
  margin-top: 54px;
  display: flex;
  gap: 215px;
}

.line3 {
  width: 283px;
  height: 3px;
  margin-top: 18px;
  background: #4E4AFF; 
}

.addresses-stores{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 43px;
}

.addresses-stores a{
  text-decoration: none;
  color: #0038FF;
}

.addresses-stores:hover {
  text-decoration: underline;
}

.phonenumber {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 29px;
  margin-top: 24px;
}

.social {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px; 
  margin-top: 43px;
}

.social-media {
  display: flex;
  gap: 15px;
}

.help p {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.help a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #000;
}

.help a:hover {
  text-decoration: underline;
}


.wrapper1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 27px;
}


.aboutcompany p {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.aboutcompany a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #000;
}

.aboutcompany a:hover {
  text-decoration: underline;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 33px;
}


.earn-with-us p {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #000;
} 

.earn-with-us a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #000;
}

.earn-with-us a:hover {
  text-decoration: underline;
}


.wrapper3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 29px;
}


section {
  margin-left: 85px;
}

footer {
  margin-left: 0px;
}

.wrapperforcards {
  max-width: 1750px;
}

.adapt_menu {
    height: 3px;
  background: #000;
  margin-left: 500px;
  width: 20px;
}

@media (max-width:5170px) {
   .nav {
     margin-left: 193px;
   }

   .f {
    width: 38%;
   }

   .header {
     margin-left: 130px
   }

   .head {
    margin-left: 200px;
   }

   .slider {
    margin-left: -235px
   }

   .cards {
    gap: 15px;
    max-width: 1474px;
   }

   .discount {
    margin-top: 500px;
    max-width: 1474px
   }

   .bestsellers {
    margin-top: 250px;
    max-width: 1474px;
   }

   .best_gift {
    margin-top: 250px;
    max-width: 1474px;
   }

   .footer {
    max-width: 1474px;
    margin-top: 300px
   }

   footer {
    margin-left: 105px
   }
}


@media (max-width: 4480px) {
    .phone_city {
      margin-left: 45px;
    }

    .nav {
      margin-left: 123px;
    }
}

@media (max-width: 4020px) {
   .header {
    max-height: 22px;
   }

   .head {
    margin-left: 100px
   }
}

@media (max-width: 2500px) {
  main {
    margin: 0
  }

  .cards {
    gap: 15px;
    max-width: 1274px;
   }

   .discount {
    margin-top: 700px;
    max-width: 1274px
   }

   .bestsellers {
    margin-top: 250px;
    max-width: 1274px;
   }

   .best_gift {
    margin-top: 250px;
    max-width: 1274px;
   }

   .footer {
    max-width: 1274px;
    margin-top: 300px;
    gap: 195px;
   }
}

@media (max-width: 2127px) {
  .nav {
    display: none
  }

  .slide {
    max-width: 1300px;
  }

  .slider {
    margin-left: -53px
  }

  .footer {
    gap: 175px;
  }

  .header {
    margin-left: -100px;
    justify-content: space-between;
    position: absolute;
  }


}